.DrugSteadyState {
    text-align: left;
}

.blood-levels-outer {
    height: 300px;
    overflow-y : scroll;
}
.center {
    text-align: center;
}
.more-button-div {
    width: 100%;
}
.more-button {
    margin-left: auto;
    margin-right:auto;
}